/* Estilos generales */
* {
  font-family: "League Spartan";
  text-align: center;
  margin: 0%;
}

body {
  background-color: #fffaf0;
  font-style: normal;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #006d77;
}

h1 {
  font-size: 30px;
  padding: 0 100px;
  line-height: 1.2;
}

p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.2;
}

a {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.2;
  font-weight: 800;
  cursor: pointer;
  text-decoration: underline;
}
 .books{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2%;
 }
/* Estilos específicos de la página de inicio */
.texto-secundario { /* Elige una opción para continuar - Home */
  margin-bottom: 15px;
  padding: 0 50px;
}

/* Estilos para pantallas grandes (versión de escritorio) */
@media (min-width: 741px) {
  .all-div {
    padding: 0 20px;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: 0 300px;
  }

  .sub-div {
    margin: 15px 0;
    width: 50%;  
    height: 50%; 
    gap: 10%;
  }
}

/* Estilos para pantallas pequeñas (versión móvil) */
@media (max-width: 740px) {
  .all-div {
    padding: 0; /* Eliminar el padding en la versión móvil */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10%;
    margin: 30% 0;
  }

  /* Estilos para el formulario de inicio de sesión */
  .title-login {
    font-weight: bold;
    margin-bottom: 10px;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 360px;
  }
 
  /* Estilos para pantallas pequeñas (versión móvil) */
@media (max-width: 740px) {
  *{
    margin: 0px;
  }
  body{
    max-width: 360px;
    display: grid;
    grid-template-columns: 1;
  }
  .wall-div{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-wall{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #006d77;
    order: -1;
    align-self: center;
    box-shadow: #006d77 0px 22px 70px 4px;
    z-index: 5;
  }
 
  .modal-container {
    top: 20%;
    left: 40%;
    border-radius: 10px;
  }
  .posts-main {
    background: #fffaf0;
    box-shadow: #006d77 0px 22px 70px 4px;
    border-radius: 5px;
    height: fit-content;
    display: grid;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    max-width: 75%;;
  }
  p {
    font-size: 85%;
 
  }
  .overlay{
    max-width: 360px;
    padding: auto;
  }
  .books {
    margin-bottom: -4%;
    margin-left: auto;
    margin-right: auto;
  }

  .new-post-text{
    max-width: 80%;
  }
  .pink-container {
    background: #FFDDD2;
    box-shadow: 1px 1px 10px 1px #e29578;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 85%; /* Agregado */
  }

  .new-post-text {
    width: 100%; /* Agregado */
    height: 120px;
    background-color: #FFFFFF;
    color: #292828;
    border: 20px solid #83C5BE;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #83C5BE inset, 0px 0px 10px 0px #006d77;
    margin-bottom: 20px;
  }

  .post-div {
    padding: 15px;
  }

  .like-div {
    height: 30px;
  }

  .user-name {
    margin-left: 5px;
    width: 0.5px;
  }

  .date-container {
    margin-bottom: 15px;
  }

  .p-date,
  .p-likes {
    font-size: 14px;
  }
}
}
.logo-wall-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.container-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-logo {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sub-div,
form {
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #fffaf0;
  box-shadow: 1px 1px 10px 1px #e29578;
  border-radius: 5px;
  gap: 10px;
  width: 306px;
  height: fit-content;
  margin: 15px 0 15px 0;
}

/* Estilos de los botones */
button {
  transition: all 0.4s;
  font-size: 18px;
  width: 200px;
  height: 40px;
  color: #fffaf0;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  margin: 5px 5px;
  background-color: #83C5BE;
}

.button-login {
  background: #006d77;
}

.button-login:hover {
  background-color: #83c5be;
  box-shadow: 0px 0px 5px rgba(230, 147, 116, 0.555);
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 5px 3px 5px #006d77, -2px -2px 4px #006d77;
  box-shadow: 0px 0px 5px 0px #006d77 inset;
}

.button-register {
  background: #e29578;
}

.button-register:hover {
  background-color: #83c5be;
  box-shadow: 0px 0px 5px rgba(230, 147, 116, 0.555);
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 5px 3px 5px #006d77, -2px -2px 4px #006d77;
  box-shadow: 0px 0px 5px 0px #006d77 inset;
}

.google-button {
  background: #ffffff;
  font-family: "Roboto";
  padding: 0 8px;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  background-image: url(../src/assets/images/google.png);
  background-repeat: no-repeat;
  background-size: 20px;
  box-shadow: 0px 0px 5px rgba(93, 92, 91, 0.555);
  background-position: 15px 50%; /* Ajusta la posición de la imagen de fondo */
  text-align: right;
  padding: 10px 20px;;
}

.page-title {
  color: #006d77;
  width: fit-content;
}

.texto-secundario {
  color: #e29578;
}

/* Estilos para la ventana modal */

/* Fondo oscuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  display: none;
}

/* Contenedor de la ventana modal */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #fffaf0;
  padding: 20px;
  display: none;
  z-index: 999;
  border-radius: 5%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-posts{
  display: flex;
  flex-direction: column-reverse;

}
/* Contenido de la ventana modal */
.modal-content {
  margin-bottom: 20px;
  margin-top: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #e29578;
  color: #fffaf0;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #83C5BE;
  text-shadow: 5px 3px 5px #006d77, -2px -2px 4px #006d77;
}

/* Estilos para los campos de texto de la información */
input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #292828;
  font-size: 18px;
  margin-bottom: 3px;
  margin-top: 3px;
  border: 0;
  box-shadow: 0px 0px 5px 0px #e29578 inset;
  font-weight: 900;
}

input::placeholder {
  color: #e7af9b;
}

/* Efecto de enfoque para los campos de texto */
input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px #e29578 inset;
}

/*Estilos del Wall*/

.wall-div { /*Contenedor azul claro del fondo*/
  background: #83C5BE;
}

.header-wall { /*Menú de arriba*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #006d77;
  order: -1;
  align-self: flex-start;
  box-shadow: #006d77 0px 22px 70px 4px;
  z-index: 999;
}

.logo-wall { /*logo*/
  width: 50px;
  height: 50px;
  margin-left: 10%;
}

.comunidad-libro-wall { /*texto de comunidad*/
  margin-right: 60%;
  font-weight: bold;
  color:#fffaf0;
  width: fit-content;
}

.logout-btn { /*cerrar sesión <a>*/
  margin-right: 5%;
  font-weight: bold;
  color:#fffaf0;
  cursor: pointer;
  text-decoration: none;
  justify-content: end;
}

.logout-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 5px 3px 5px #006d77, -2px -2px 4px #83C5BE;
}

.new-post-text { /*Input del mensaje*/
  width: 650px;
  height: 120px;
  background-color: #FFFFFF;
  color: #292828;
  border: 20px solid #83C5BE;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #83C5BE inset, 0px 0px 10px 0px #006d77;
  margin-bottom: 20px;
}

.new-post-text::placeholder {
  color: #006d77b6;
  padding: 10px;
  text-align: left;
  text-overflow: unset;
}

.new-post-text:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px #006d77 inset, 0px 0px 10px 0px #006d77;
}
.post-button { /*publica tu post*/
  background: #006d77;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}
button:hover .post-button {
  transform: scale(1.2);
}
.post-button:hover { /*publica tu post*/
  background-color: #83c5be;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: inset 5px 10px 5px #006d77, 2px 2px 4px #006d77;
  box-shadow: 0px 0px 5px 0px #006d77 inset;

}

.posts-main { /*contenedor donde están el input y los posts sobre el azul claro*/
  background: #fffaf0;
  box-shadow: #006d77 0px 22px 70px 4px;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  /* margin-left: 25%; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.pink-container { /*container rosado que contiene los posts*/
  background: #FFDDD2;
  box-shadow: 1px 1px 10px 1px #e29578;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.post-div { /*Cada post individual*/
  background-color:#fffaf0;
  box-shadow: 1px 1px 10px 1px #e29578;
  padding: 30px; 
}

.title-posts { /*titulo de: todas las publicaciones*/
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
 
}

.like-div { /*div azul oscuro sobre el post individual*/
  height: 35px;
  width: 100%;
  background-color: #006d77;
  box-shadow: 1px 0px 10px 1px #e29578;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.like-button { /*imagen del like*/
  height: 25px;
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.like-button:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.delete-icon{ /*icono de borrar*/
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.delete-icon:hover{ 
  transform: scale(1.1);
  transition: all 1s;
}
.edit-icon{ /*icono de editar*/
  height: 20px;
  width: 20px;
  cursor: pointer;
}

/* .go-home{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: #006d77;
  transition: all 2s;
} */


.go-home:hover{
  transition: all 2s;
  background-color: #83c5be;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 5px 3px 5px #006d77, -2px -2px 4px #006d77;
  box-shadow: 0px 0px 5px 0px #006d77 inset;
}

.edit-icon:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.user-name { /*nombre del usuario*/
margin-left: 10px;
color: #fffaf0;
width: 83%;
text-align: left;
padding-top: 5px;
}

.date-container { /*contenedor de la fecha de la publicación*/
  height: 35px;
  width: 100%;
  background-color: #006d77;
  box-shadow: 0px 1px 5px -1px #e29578;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color:#fffaf0;
}

.p-date { /*fecha de la publicación*/
margin-left: 10px;
color: #adadab;
text-align: left;
font-size: 16px;
}

.after-like { /*icono después de dar like*/
  transform: scale(1.1);
  transition: all 1s;
}

.after-like:hover {
  transform: scale(1);
  transition: all 1s;
}

.p-likes { /*contador de likes*/
margin-right: 30px;
color: #adadab;
text-align: right;
font-size: 16px;
}


